/* src/components/SortingVisualizer.css */
.array-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 500px;
    margin: 0 5%;
  }
  
  .array-bar {
    background-color: teal;
    width: 10px;
    margin: 0 1px;
  }
  
  button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #61dafb;
    border: none;
    cursor: pointer;
  }
  